.UserPanel {
    margin-top: 90px;
    min-height: 100vh;
    background-color: black;
    color: #ffff;

    .UserPanelP {
        text-align: center;
        padding-top: 1rem;
        color: gray;
    }

    .UserPanelBody {
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
    }
}