.vewTableIcons {
    max-width: 600px;
    margin: 4rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;

    .vewTableIconsDiv {
        transition: .3s ease-in-out;
        cursor: pointer;
        padding: 12px;
        border-radius: 50%;

        &:hover {
            box-shadow: 5px 5px 15px;
            transform: translateY(-5px);
        }

        &:active {
            box-shadow: none;
        }
    }
}

@media (max-width: 767px) {
    
    .vewTableIcons {
        max-width: 300px;
        justify-content: center;

    }
}