.menuDas {
    width: 180px;
    background-color: #242229;
    min-height: 100vh;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #ffff;
    padding-top: .2rem;

    .menuDasProfilSect {
        display: flex;
        flex-direction: column;
        align-items: center;

        .menuDasProfilDiv {
            border-radius: 50%;
            overflow: hidden;
            height: 100px;
            width: 100px;
            margin-top: 1rem;
            border: solid 2px #ffff;
            cursor: pointer;
            transition: .3s ease-in-out;
            background-color: gray;
            
            &:hover {
                background-color: #a8a8a8;
            }
    
            img {
                width: 100%;
                height: 110%;
                object-fit: cover;
            }
        }

        p {
            font-size: 12px;
            margin-top: .4rem;
        }
    }

    .menuDasIcon {
        margin-top: .2rem;
        width: 100%;

        div {
            display: flex;
            align-items: center;
            gap: .4rem;
            font-size: 1.4rem;
            height: 60px;
            padding-left: 1.4rem;
            cursor: pointer;
            transition: .3s ease-in-out;

            &:hover {
                background-color: #292631;
            }

            p {
                font-size: 1rem;
            }

        }
    }
}