.dashTop {
    width: 100%;
    height: 60px;
    background-color: #242229;
    padding: 6px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;

    .dashTopIcons {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        svg {
            cursor: pointer;
            transition: .3 ease-in-out;

            &:hover {
                transform: scale(1.15);
            }
        }
    }
}