@import '../../../style/color.css';

.navItems {
    position: relative;
}

.navItems .menuItemButom {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.navItems .menuItemButom .menuItemArrowNone {
    transition: .3s ease-in-out;
    transform: rotate(-90deg);
    width: 15px;
}

.navItems .menuItemButom .menuItemArrow {
    transition: .3s ease-in-out;
    transform: rotate(0);
    width: 15px;
}

.navItems .menuItemTitle {
    cursor: pointer;
    transition: .3s ease-in-out;
}

.navItems .menuItemTitle:hover {
    cursor: pointer;
    color: var(--colorA);
}

.navItems .menuItemVew {
    position: absolute;
    min-height: fit-content;
    min-width: max-content;
    padding: 12px;
    border-radius: 6px; 
    color: var(--colorA);
    background-color: var(--colorB);
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;  
    
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navItems .menuItemVew p {
    cursor: pointer;
    transition: .3s ease-in-out;
}

.navItems .menuItemVew p:hover {
    color: var(--colorC);
}

.navItems .menuItemVewOpen {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}