.userPanelTop {
    min-height: 90px;
    background-color: #242229;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6rem;

    .userPanelTopSect {
        display: flex;
        gap: 2rem;

        .userPanelTopIc {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3px;
            text-decoration: none;

            p {
                font-size: 12px;
                color: #ffffff;
            }

            svg {
                cursor: pointer;
                transition: .3s ease-in-out;

                &:hover {
                    transform: scale(1.15);
                }
            }

        }

        .lineHeight {
            width: 1px;
            height: 60px;
            background-color: #adaaaa;
        }
    }
}

@media (max-width: 767px) {

    .userPanelTop {
        flex-direction: column;
        padding: 0 3px;

        .userPanelTopSect {
            display: flex;
            gap: 10px;

            .userPanelTopIc {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 3px;
                text-decoration: none;

                p {
                    font-size: 12px;
                    color: #ffffff;
                }

                svg {
                    cursor: pointer;
                    transition: .3s ease-in-out;

                    &:hover {
                        transform: scale(1.15);
                    }
                }

            }

            .lineHeight {
                width: 1px;
                height: 60px;
                background-color: #adaaaa;
            }
        }
    }
}